<% provide(:title, 'All services') %>
<%= page_heading('All services')%>

<%= will_paginate %>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Category</th>
			<th>Service</th>
			<th>Price</th>
			<th>Duration</th>
		</tr>
	</thead>
	<tbody>
		<%= render @services %>
	</tbody>
	
</table>
    
<%= will_paginate %>