<% provide(:title, 'All users') %>
<%= page_heading('All users')%>

<%= will_paginate %>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= render @users %>
	</tbody>
	
</table>
    
<%= will_paginate %>